.red
    background-color $red
.pink
    background-color $pink
.purple
    background-color $purple
.indigo
    background-color $indigo
.blue
    background-color $blue
.cyan
    background-color $cyan
.teal
    background-color $teal
.green
    background-color $green
.lime
    background-color $lime
.yellow
    background-color $yellow
.amber
    background-color $amber
.orange
    background-color $orange
.brown
    background-color $brown
.grey
    background-color $grey
.gray-base
    background-color $gray-base
.gray-darker
    background-color $gray-darker
.gray-dark
    background-color $gray-dark
.gray
    background-color $gray
.gray-light
    background-color $gray-light
.gray-lighter
    background-color $gray-lighter

.brand-primary
    background-color $brand-primary
.brand-success
    background-color $brand-success
.brand-info
    background-color $brand-info
.brand-warning
    background-color $brand-warning
.brand-danger
    background-color $brand-danger

.text-color
    background-color $text-color

.link-color
    background-color $link-color
.link-hover-color
    background-color $link-hover-color

.component-active-color
    background-color $component-active-color

.table-bg
    background-color $table-bg
.table-bg-accent
    background-color $table-bg-accent
.table-bg-hover
    background-color $table-bg-hover
.table-bg-active
    background-color $table-bg-active

.table-border-color
    background-color $table-border-color

.btn-default-color
    background-color $btn-default-color
.btn-default-bg
    background-color $btn-default-bg
.btn-default-border
    background-color $btn-default-border

.btn-primary-color
    background-color $btn-primary-color
.btn-primary-bg
    background-color $btn-primary-bg
.btn-primary-border
    background-color $btn-primary-border

.btn-success-color
    background-color $btn-success-color
.btn-success-bg
    background-color $btn-success-bg
.btn-success-border
    background-color $btn-success-border

.btn-info-color
    background-color $btn-info-color
.btn-info-bg
    background-color $btn-info-bg
.btn-info-border
    background-color $btn-info-border

.btn-warning-color
    background-color $btn-warning-color
.btn-warning-bg
    background-color $btn-warning-bg
.btn-warning-border
    background-color $btn-warning-border

.btn-danger-color
    background-color $btn-danger-color
.btn-danger-bg
    background-color $btn-danger-bg
.btn-danger-border
    background-color $btn-danger-border

.btn-link-disabled-color
    background-color $btn-link-disabled-color

.input-bg
    background-color $input-bg
.input-bg-disabled
    background-color $input-bg-disabled

.input-color
    background-color $input-color
.input-border
    background-color $input-border

.input-border-focus
    background-color $input-border-focus

.input-color-placeholder
    background-color $input-color-placeholder

.legend-color
    background-color $legend-color
.legend-border-color
    background-color $legend-border-color

.input-group-addon-bg
    background-color $input-group-addon-bg
.input-group-addon-border-color
    background-color $input-group-addon-border-color

.hr-border
    background-color $hr-border
//

.code-color
    background-color $code-color
.code-bg
    background-color $code-bg

.kbd-color
    background-color $kbd-color
.kbd-bg
    background-color $kbd-bg

.pre-bg
    background-color $pre-bg
.pre-color
    background-color $pre-color
.pre-border-color
    background-color $pre-border-color

.text-muted-color
    background-color $text-muted
.abbr-border-color
    background-color $abbr-border-color
.headings-small-color
    background-color $headings-small-color
.blockquote-small-color
    background-color $blockquote-small-color
.blockquote-border-color
    background-color $blockquote-border-color
.page-header-border-color
    background-color $page-header-border-color

.state-success-text
    background-color $state-success-text
.state-success-bg
    background-color $state-success-bg
.state-success-border
    background-color $state-success-border

.state-info-text
    background-color $state-info-text
.state-info-bg
    background-color $state-info-bg
.state-info-border
    background-color $state-info-border

.state-warning-text
    background-color $state-warning-text
.state-warning-bg
    background-color $state-warning-bg
.state-warning-border
    background-color $state-warning-border

.state-danger-text
    background-color $state-danger-text
.state-danger-bg
    background-color $state-danger-bg
.state-danger-border
    background-color $state-danger-border
