extends layouts/common.jade

block content
    .row.panel
        .col-md-12
            h1 h1. heading
                small  Secondary text
            h2 h2. heading
                small  Secondary text
            h3 h3. heading
                small  Secondary text
            h4 h4. heading
                small  Secondary text
            h5 h5. heading
                small  Secondary text
            h6 h6. heading
                small  Secondary text
            p 
                != "You can use the mark tag to <mark>highlight</mark> text."
            p: del This line of text is meant to be treated as deleted text.
            p: s This line of text is meant to be treated as no longer accurate.
            p: ins This line of text is meant to be treated as an addition to the document.
            p: u This line of text will render as underlined
            p: small This line of text is meant to be treated as fine print.
            p: strong rendered as bold text
            p: em rendered as italicized text
    .row.panel
        .col-md-12
            p.text-left Left aligned text.
            p.text-center Center aligned text.
            p.text-right Right aligned text.
            p.text-justify Justified text.
            p.text-nowrap No wrap text.
            p.text-lowercase Lowercased text.
            p.text-uppercase Uppercased text.
            p.text-capitalize Capitalized text.
            p: abbr(title="attribute") attr
            p: abbr.initialism(title="HyperText Markup Language") HTML
    .row.panel
        .col-md-4
            h3 Button Tags
            p.item: a.btn.btn-default Link
            p.item: button.btn.btn-default Button
            p.item: input.btn.btn-default(type="button", value="Input")
            p.item: input.btn.btn-default(type="submit", value="Submit")
        .col-md-4
            h3 Options
            p.item: button.btn.btn-default Default
            p.item: button.btn.btn-primary Primary
            p.item: button.btn.btn-success Success
            p.item: button.btn.btn-info Info
            p.item: button.btn.btn-warning Warning
            p.item: button.btn.btn-danger Danger
            p.item: button.btn.btn-link Link
        .col-md-4
            h3 Sizes & State
            p.item: button.btn.btn-primary.btn-lg Large Button
            p.item: button.btn.btn-primary Default Button
            p.item: button.btn.btn-primary.btn-sm Small Button
            p.item: button.btn.btn-primary.btn-xl Extra Small Button
            p.item: button.btn.btn-primary.btn-block Block Button
            p.item: button.btn.btn-primary.active Active Button
            p.item: button.btn.btn-primary(disabled="disabled") Disabled Button
    .row.panel
        .col-md-12
            h3 Form Group
            form
                .form-group
                    label(for="exampleInputEmail1") Email address
                    input#exampleInputEmail1.form-control(type="email", placeholder="Email")
                .form-group
                    label(for="exampleInputPassword1") Password
                    input#exampleInputPassword1.form-control(type="password", placeholder="Password")
                .form-group
                    label(for="exmapleInputFile") File Input
                    input#exampleInputFile(type="file")
                    p.help-block Example block-level help text here.
                .checkbox
                    label
                        input(type="checkbox")
                        != 'Check me out'
    .row.panel
        .col-md-12
            h3 Inline Form
            form.form-inline
                .form-group
                    label(for="exampleInputName2") Name
                    input#exampleInputName2.form-control(type="text", placeholder="Eric Wang")
                .form-group
                    label(for="exampleInputEmail2") Email
                    input#exampleInputEmail2.form-control(type="email", placeholder="me@emptystack.net")
                .checkbox
                    label
                        input(type="checkbox")
                        != "Remember me"
                button.btn.btn-default(type="submit") Sign in
                .form-group
                    p.form-control-static Static Form Control Word
    .row.panel
        .col-md-12
            h3 Horizontal Form
            form.form-horizontal
                .form-group
                    label.col-md-2.control-label Email
                    .col-md-10
                        input.form-control(type="email", placeholder="Email")
                .form-group
                    label.col-md-2.control-label Password
                    .col-md-10
                        input.form-control(type="password", placeholder="Password")
                .form-group
                    label.col-md-2.control-label Location
                    .col-md-10
                        p.form-control-static Harbin
                .form-group
                    .col-md-offset-2.col-md-10
                        .checkbox
                            label
                                input(type="checkbox")
                                != "Remember me"
                .form-group
                    .col-md-offset-2.col-md-10
                        button.btn.btn-default Sign In
    .row.panel
        .col-md-12
            h3 Textarea
            textarea.form-control(rows="3")
    .row.panel
        .col-md-4
            h3 Checkbox
            .form
                .checkbox
                    label
                        input(type="checkbox", checked)
                        != "Checked"
                .checkbox
                    label
                        input(type="checkbox")
                        != "Unchecked"
                .checkbox
                    label
                        input(type="checkbox", disabled)
                        != "Disabled"
        .col-md-4
            h3 Radios
            .form
                .radio
                    label
                        input(type="radio", name="radioOption", value="option1", checked)
                        != "Checked"
                .radio
                    label
                        input(type="radio", name="radioOption", value="option2")
                        != "Unchecked"
                .radio
                    label
                        input(type="radio", name="radioOption", value="option3", disabled)
                        != "Disabled"
        .col-md-4
            h3 Inline Checkbox & Radio
            form
                label.checkbox-inline
                    input(type="checkbox", value="option1")
                    != "1"
                label.checkbox-inline
                    input(type="checkbox", value="option2")
                    != "2"
                label.checkbox-inline
                    input(type="checkbox", value="option3")
                    != "3"
            br
            form
                label.radio-inline
                    input(type="radio", value="option1")
                    != "1"
                label.radio-inline
                    input(type="radio", value="option2")
                    != "2"
                label.radio-inline
                    input(type="radio", value="option3")
                    != "3"
    .row.panel
        .col-md-6
            h3 Select
            form
                select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
        .col-md-6
            h3 Mulit-select
            form
                select.form-control(multiple)
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5



















