extends layouts/common.jade

block content
    .row.panel
        .color-panel.red red
        .color-panel.pink pink
        .color-panel.purple purple
        .color-panel.indigo indigo
        .color-panel.blue blue
        .color-panel.cyan cyan
        .color-panel.teal teal
        .color-panel.green green
        .color-panel.lime lime
        .color-panel.yellow yellow
        .color-panel.amber amber
        .color-panel.orange orange
        .color-panel.brown brown
        .color-panel.grey grey
        br
        br
        .color-panel.text-light.gray-base gray-base
        .color-panel.text-light.gray-darker gray-darker
        .color-panel.text-light.gray-dark gray-dark
        .color-panel.text-light.gray gray
        .color-panel.gray-light gray-light
        .color-panel.gray-lighter gray-lighter
        br
        br
        .color-panel.brand-primary brand-primary
        .color-panel.brand-success brand-success
        .color-panel.brand-info brand-info
        .color-panel.brand-warning brand-warning
        .color-panel.brand-danger brand-danger
        br
        br
        .color-panel.text-light.text-color text-color
        .color-panel.link-color link-color
        .color-panel.link-hover-color link-hover-color
        .color-panel.component-active-color component-active-color
        br
        br
        .color-panel.table-bg table-bg
        .color-panel.table-bg-accent table-bg-accent
        .color-panel.table-bg-hover table-bg-hover
        .color-panel.table-bg-active table-bg-active
        .color-panel.table-border-color table-border-color
        br
        br
        .color-panel.text-light.btn-default-color btn-default-color
        .color-panel.btn-default-bg btn-default-bg
        .color-panel.btn-default-border btn-default-border
        .color-panel.btn-primary-color btn-primary-color
        .color-panel.btn-primary-bg btn-primary-bg
        .color-panel.btn-primary-border btn-primary-border
        .color-panel.btn-success-color btn-success-color
        .color-panel.btn-success-bg btn-success-bg
        .color-panel.btn-success-border btn-success-border
        .color-panel.btn-info-color btn-info-color
        .color-panel.btn-info-bg btn-info-bg
        .color-panel.btn-info-border btn-info-border
        .color-panel.btn-warning-color btn-warning-color
        .color-panel.btn-warning-bg btn-warning-bg
        .color-panel.btn-warning-border btn-warning-border
        .color-panel.btn-danger-color btn-danger-color
        .color-panel.btn-danger-bg btn-danger-bg
        .color-panel.btn-danger-border btn-danger-border
        .color-panel.btn-link-disabled-color btn-link-disabled-color
        br
        br
        .color-panel.input-bg input-bg
        .color-panel.input-bg-disabled input-bg-disabled
        .color-panel.input-color input-color
        .color-panel.input-border input-border
        .color-panel.input-border-focus input-border-focus
        .color-panel.input-color-placeholder input-color-placeholder
        .color-panel.text-light.legend-color legend-color
        .color-panel.legend-border-color legend-border-color
        .color-panel.input-group-addon-bg input-group-addon-bg
        .color-panel.input-group-addon-border-color input-group-addon-border-color
        br
        br
        .color-panel.hr-border hr-border
        .color-panel.code-color code-color
        .color-panel.code-bg code-bg
        .color-panel.kbd-color kbd-color
        .color-panel.text-light.kbd-bg kbd-bg
        .color-panel.pre-bg pre-bg
        .color-panel.text-light.pre-color pre-color
        .color-panel.pre-border-color pre-border-color
        .color-panel.text-muted-color text-muted
        .color-panel.abbr-border-color abbr-border-color
        .color-panel.headings-small-color headings-small-color
        .color-panel.blockquote-small-color blockquote-small-color
        .color-panel.blockquote-border-color blockquote-border-color
        .color-panel.page-header-border-color page-header-border-color
        br
        br
        .color-panel.state-success-text state-success-text
        .color-panel.state-success-bg state-success-bg
        .color-panel.state-success-border state-success-border
        .color-panel.state-info-text state-info-text
        .color-panel.state-info-bg state-info-bg
        .color-panel.state-info-border state-info-border
        .color-panel.state-warning-text state-warning-text
        .color-panel.state-warning-bg state-warning-bg
        .color-panel.state-warning-border state-warning-border
        .color-panel.state-danger-text state-danger-text
        .color-panel.state-danger-bg state-danger-bg
        .color-panel.state-danger-border state-danger-border
    .row.panel
        .col-md-12
            h1 h1. heading
                small  Secondary text
            h2 h2. heading
                small  Secondary text
            h3 h3. heading
                small  Secondary text
            h4 h4. heading
                small  Secondary text
            h5 h5. heading
                small  Secondary text
            h6 h6. heading
                small  Secondary text
    .row.panel
        .col-md-12
            h3 Marked text
            p 
                != "You can use the mark tag to <mark>highlight</mark> text."
        .col-md-12
            h3 Deleted text
            p: del This line of text is meant to be treated as deleted text.
        .col-md-12
            h3 Stikethrough text
            p: s This line of text is meant to be treated as no longer accurate.
        .col-md-12
            h3 Inserted text
            p: ins This line of text is meant to be treated as an addition to the document.
        .col-md-12
            h3 Underlined text
            p: u This line of text will render as underlined
        .col-md-12
            h3 Small text
            p: small This line of text is meant to be treated as fine print.
        .col-md-12
            h3 Bold(Strong) text
            p: strong rendered as bold text
        .col-md-12
            h3 Italics text
            p: em rendered as italicized text
    .row.panel
        .col-md-12
            h3 Alignment classes
            p.text-left Left aligned text.
            p.text-center Center aligned text.
            p.text-right Right aligned text.
            p.text-justify Justified text.
            p.text-nowrap No wrap text.
        .col-md-12
            h3 Transformation classes
            p.text-lowercase Lowercased text.
            p.text-uppercase Uppercased text.
            p.text-capitalize Capitalized text.
        .col-md-12
            h3 Abbreviations
            p: abbr(title="attribute") attr
            p: abbr.initialism(title="HyperText Markup Language") HTML
    .row.panel
        .col-md-12
            h3 Addresses
            address
                != "<strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br> <abbr title='Phone'>P:</abbr> (123) 456-7890"
            address
                != "<strong>Full Name</strong><br><a href='mailto:#'>first.last@example.com</a>"
        .col-md-12
            h3 Blockquotes
            blockquote
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            blockquote
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                footer
                    Someone famous in
                        cite(title="Source Title") Source Title
            blockquote.blockquote-reverse
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                footer
                    Someone famous in
                        cite(title="Source Title") Source Title
    .row.panel
        .col-md-4
            h3 List Unordered
            ul
                li Lorem ipsum dolor sit amet
                li Consectetur adipiscing elit
                li Integer molestie lorem at massa
                li Facilisis in pretium nisl aliquet
                li Nulla volutpat aliquam velit
                    ul
                        li Phasellus iaculis neque
                        li Purus sodales ultricies
                        li Vestibulum laoreet porttitor sem
                        li Ac tristique libero volutpat at
                li Faucibus porta lacus fringilla vel
                li Aenean sit amet erat nunc
                li Eget porttitor lorem
        .col-md-4
            h3 List Ordered
            ol
                li Lorem ipsum dolor sit amet
                li Consectetur adipiscing elit
                li Integer molestie lorem at massa
                li Facilisis in pretium nisl aliquet
                li Nulla volutpat aliquam velit
                    ol
                        li Phasellus iaculis neque
                        li Purus sodales ultricies
                        li Vestibulum laoreet porttitor sem
                        li Ac tristique libero volutpat at
                li Faucibus porta lacus fringilla vel
                li Aenean sit amet erat nunc
                li Eget porttitor lorem
        .col-md-4
            h3 List Unstyled
            ul.list-unstyled
                li Lorem ipsum dolor sit amet
                li Consectetur adipiscing elit
                li Integer molestie lorem at massa
                li Facilisis in pretium nisl aliquet
                li Nulla volutpat aliquam velit
                    ul
                        li Phasellus iaculis neque
                        li Purus sodales ultricies
                        li Vestibulum laoreet porttitor sem
                        li Ac tristique libero volutpat at
                li Faucibus porta lacus fringilla vel
                li Aenean sit amet erat nunc
                li Eget porttitor lorem
    .row.panel
        .col-md-12
            h3 List Inline
            ul.list-inline
                li Lorem ipsum 
                li Phasellus iaculis 
                li Nulla volutpat
        .col-md-12
            h3 Description
            dl
                dt Description lists
                dd A description list is perfect for defining terms.
            dl
                dt Euismod
                dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                dd Donec id elit non mi porta gravida at eget metus.
        .col-md-12
            h3 Horizontal Description
            dl.dl-horizontal
                dt Description lists
                dd A description list is perfect for defining terms.
            dl.dl-horizontal
                dt Euismod
                dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                dd Donec id elit non mi porta gravida at eget metus.                        
    .row.panel
        .col-md-4
            h3 Button Tags
            p.item: a.btn.btn-default Link
            p.item: button.btn.btn-default Button
            p.item: input.btn.btn-default(type="button", value="Input")
            p.item: input.btn.btn-default(type="submit", value="Submit")
        .col-md-4
            h3 Options
            p.item: button.btn.btn-default Default
            p.item: button.btn.btn-primary Primary
            p.item: button.btn.btn-success Success
            p.item: button.btn.btn-info Info
            p.item: button.btn.btn-warning Warning
            p.item: button.btn.btn-danger Danger
            p.item: button.btn.btn-link Link
        .col-md-4
            h3 Sizes & State
            p.item: button.btn.btn-primary.btn-lg Large Button
            p.item: button.btn.btn-primary Default Button
            p.item: button.btn.btn-primary.btn-sm Small Button
            p.item: button.btn.btn-primary.btn-xl Extra Small Button
            p.item: button.btn.btn-primary.btn-block Block Button
            p.item: button.btn.btn-primary.active Active Button
            p.item: button.btn.btn-primary(disabled="disabled") Disabled Button
    .row.panel
        .col-md-12
            h3 Form Group
            form
                .form-group
                    label(for="exampleInputEmail1") Email address
                    input#exampleInputEmail1.form-control(type="email", placeholder="Email")
                .form-group
                    label(for="exampleInputPassword1") Password
                    input#exampleInputPassword1.form-control(type="password", placeholder="Password")
                .form-group
                    label(for="exmapleInputFile") File Input
                    input#exampleInputFile(type="file")
                    p.help-block Example block-level help text here.
                .checkbox
                    label
                        input(type="checkbox")
                        != 'Check me out'
    .row.panel
        .col-md-12
            h3 Inline Form
            form.form-inline
                .form-group
                    label(for="exampleInputName2") Name
                    input#exampleInputName2.form-control(type="text", placeholder="Eric Wang")
                .form-group
                    label(for="exampleInputEmail2") Email
                    input#exampleInputEmail2.form-control(type="email", placeholder="me@emptystack.net")
                .checkbox
                    label
                        input(type="checkbox")
                        != "Remember me"
                button.btn.btn-default(type="submit") Sign in
                .form-group
                    p.form-control-static Static Form Control Word
    .row.panel
        .col-md-12
            h3 Horizontal Form
            form.form-horizontal
                .form-group
                    label.col-md-2.control-label Email
                    .col-md-10
                        input.form-control(type="email", placeholder="Email")
                .form-group
                    label.col-md-2.control-label Password
                    .col-md-10
                        input.form-control(type="password", placeholder="Password")
                .form-group
                    label.col-md-2.control-label Location
                    .col-md-10
                        p.form-control-static Harbin
                .form-group
                    .col-md-offset-2.col-md-10
                        .checkbox
                            label
                                input(type="checkbox")
                                != "Remember me"
                .form-group
                    .col-md-offset-2.col-md-10
                        button.btn.btn-default Sign In
    .row.panel
        .col-md-12
            h3 Textarea
            textarea.form-control(rows="3")
    .row.panel
        .col-md-4
            h3 Checkbox
            .form
                .checkbox
                    label
                        input(type="checkbox", checked)
                        != "Checked"
                .checkbox
                    label
                        input(type="checkbox")
                        != "Unchecked"
                .checkbox
                    label
                        input(type="checkbox", disabled)
                        != "Disabled"
        .col-md-4
            h3 Radios
            .form
                .radio
                    label
                        input(type="radio", name="radioOption", value="option1", checked)
                        != "Checked"
                .radio
                    label
                        input(type="radio", name="radioOption", value="option2")
                        != "Unchecked"
                .radio
                    label
                        input(type="radio", name="radioOption", value="option3", disabled)
                        != "Disabled"
        .col-md-4
            h3 Inline Checkbox & Radio
            form
                label.checkbox-inline
                    input(type="checkbox", value="option1")
                    != "1"
                label.checkbox-inline
                    input(type="checkbox", value="option2")
                    != "2"
                label.checkbox-inline
                    input(type="checkbox", value="option3")
                    != "3"
            br
            form
                label.radio-inline
                    input(type="radio", value="option1")
                    != "1"
                label.radio-inline
                    input(type="radio", value="option2")
                    != "2"
                label.radio-inline
                    input(type="radio", value="option3")
                    != "3"
    .row.panel
        .col-md-6
            h3 Select
            form
                select.form-control
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
        .col-md-6
            h3 Mulit-select
            form
                select.form-control(multiple)
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
    .row.panel
        .col-md-12
            h3 Basic Table
            table.table
                caption Optional table caption.
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        th(scope="row") 3
                        td Larry
                        td the Bird
                        td @twitter
        .col-md-12
            h3 Striped Rows
            table.table.table-striped
                caption Optional table caption.
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        th(scope="row") 3
                        td Larry
                        td the Bird
                        td @twitter
        .col-md-12
            h3 Bordered Table
            table.table.table-bordered
                caption Optional table caption.
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        th(scope="row") 3
                        td Larry
                        td the Bird
                        td @twitter
        .col-md-12
            h3 Hover Rows
            table.table.table-hover
                caption Optional table caption.
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        th(scope="row") 3
                        td Larry
                        td the Bird
                        td @twitter
        .col-md-12
            h3 Condensed Table
            table.table.table-condensed
                caption Optional table caption.
                thead
                    tr
                        th #
                        th First Name
                        th Last Name
                        th Username
                tbody
                    tr
                        th(scope="row") 1
                        td Mark
                        td Otto
                        td @mdo
                    tr
                        th(scope="row") 2
                        td Jacob
                        td Thornton
                        td @fat
                    tr
                        th(scope="row") 3
                        td Larry
                        td the Bird
                        td @twitter
    .row.panel
        .col-md-6
            h3 Contextual Colors
            p.text-muted Etiam porta sem malesuada magna mollis euismod.
            p.text-primary Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
            p.text-success Nullam id dolor id nibh ultricies vehicula ut id elit.
            p.text-info Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            p.text-warning Maecenas sed diam eget risus varius blandit sit amet non magna.
            p.text-danger Donec ullamcorper nulla non metus auctor fringilla.
        .col-md-6
            h3 Contextual Backgrounds
            p.bg-primary Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
            p.bg-success Nullam id dolor id nibh ultricies vehicula ut id elit.
            p.bg-info Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
            p.bg-warning Maecenas sed diam eget risus varius blandit sit amet non magna.
            p.bg-danger Donec ullamcorper nulla non metus auctor fringilla.

        //- .col-md-12
        //-     h3 Imgs
        //-     .col-md-4
        //-         img.img-rounded(src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGU0ZWEzNTY3NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZTRlYTM1Njc1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==", style="width: 140px; height: 140px;")
        //-     .col-md-4
        //-         img.img-circle(src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGU0ZWEzNTY3NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZTRlYTM1Njc1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==", style="width: 140px; height: 140px;")
        //-     .col-md-4
        //-         img.img-thumbnail(src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgdmlld0JveD0iMCAwIDE0MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzE0MHgxNDAKQ3JlYXRlZCB3aXRoIEhvbGRlci5qcyAyLjYuMC4KTGVhcm4gbW9yZSBhdCBodHRwOi8vaG9sZGVyanMuY29tCihjKSAyMDEyLTIwMTUgSXZhbiBNYWxvcGluc2t5IC0gaHR0cDovL2ltc2t5LmNvCi0tPjxkZWZzPjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+PCFbQ0RBVEFbI2hvbGRlcl8xNGU0ZWEzNTY3NSB0ZXh0IHsgZmlsbDojQUFBQUFBO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1mYW1pbHk6QXJpYWwsIEhlbHZldGljYSwgT3BlbiBTYW5zLCBzYW5zLXNlcmlmLCBtb25vc3BhY2U7Zm9udC1zaXplOjEwcHQgfSBdXT48L3N0eWxlPjwvZGVmcz48ZyBpZD0iaG9sZGVyXzE0ZTRlYTM1Njc1Ij48cmVjdCB3aWR0aD0iMTQwIiBoZWlnaHQ9IjE0MCIgZmlsbD0iI0VFRUVFRSIvPjxnPjx0ZXh0IHg9IjQ0LjA0Njg3NSIgeT0iNzQuNSI+MTQweDE0MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==", style="width: 140px; height: 140px;")
















