transition-default()
    transition: border $transition-duration-border ease, background-color $transition-duration-background cubic-bezier(.4,0,.2,1),color $transition-duration-color cubic-bezier(.4,0,.2,1),box-shadow $transition-duration-box-shadow cubic-bezier(.4,0,.2,1)

shadow-z0()
    box-shadow none

shadow-z1()
    box-shadow 0 2px 6px 0 rgba(0,0,0,.24)

shadow-z2()
    box-shadow 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)

shadow-z3()
    box-shadow 0 1px 6px 0 rgba(0,0,0,.24),0 1px 6px 0 rgba(0,0,0,.24)

shadow-z4()
    box-shadow 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)

shadow-z5()
    box-shadow 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19)

