// Mixin
// --------------------------------------------------
vendors ?= official

percentage($n)
  if $n == 0
    0
  else
    unit($n * 100, "%")

// Utilities

@import "mixin/text-hide"
@import "mixin/opacity"
@import "mixin/image"
@import "mixin/labels"
@import "mixin/reset-filter"
@import "mixin/resize"
@import "mixin/responsive-visibility"
@import "mixin/size"
@import "mixin/tab-focus"
@import "mixin/reset-text"
@import "mixin/text-emphasis"
@import "mixin/text-overflow"
@import "mixin/vendor-prefixes"

// Components
@import "mixin/alerts"
@import "mixin/buttons"
@import "mixin/panels"
@import "mixin/pagination"
@import "mixin/list-group"
@import "mixin/nav-divider"
@import "mixin/forms"
@import "mixin/progress-bar"
@import "mixin/table-row"

// Skins
@import "mixin/background-variant"
@import "mixin/border-radius"
@import "mixin/gradients"

// Layout
@import "mixin/clearfix"
@import "mixin/center-block"
@import "mixin/nav-vertical-align"
@import "mixin/grid-framework"
@import "mixin/grid"
